data/
letsencrypt/
proxy/
*.sqlite
*.pem
*.gz
node_modules/
codigo/node_modules/
codigo/React-project/node_modules/
dist/
dist-ssr/
.vite
.eslintcache
package-lock.json
pnpm-lock.yaml
yarn.lock
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/